@page
<title>Wannabe CDN</title>

<body>
    <div>
        <input id='upload' type='file'></input>
        <button onclick='uploadFile()'>Submit</button>
    </div>
    <div id="par"></div>
</body>

<script>
    const input = document.getElementById('upload');
    const par = document.getElementById('par');
    async function uploadFile() {
        const data = new FormData();
        data.append(`${new Date().toISOString()}-${input.files[0].name}`, input.files[0]);

        const up = await fetch('/', {
            method: 'POST',
            body: data,
            headers: {
                "x-api-key": "SuperSecret"
            }
        });

        const url = await up.text();

        const a = document.createElement("a");
        const node = document.createTextNode(url);
        a.appendChild(node);
        a.href = url;
        a.title = url;
        par.appendChild(a);
    }
</script>